<md-content layout-padding layout-align="center" class="md-padding" layout="row">
    <md-card flex="50">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Registration Form</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form name="form" ng-submit="vm.register()" role="form">
                <div layout-gt-sm="column">
                    <md-input-container>
                        <label for="firstname">First Name</label>
                        <input type="text" ng-model="vm.user.firstname" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name" required/>
                        <span ng-show="form.firstname.$dirty && form.firstname.$error.required" >First name is required</span>
                    </md-input-container>
                    <md-input-container>
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" ng-model="vm.user.lastname" class="form-control" id="lastname" placeholder="Enter Last Name" required/>
                        <span ng-show="form.lastname.$dirty && form.lastname.$error.required" >Last name is required</span>
                    </md-input-container>
                    <md-input-container>
                        <label for="emailAddress">Email address</label>
                        <input type="email" name="email" ng-model="vm.user.email" class="form-control" id="emailAddress"  placeholder="Enter Email" required/>
                        <span ng-show="form.email.$dirty && form.email.$error.required" >Email is required</span>
                        <small class="form-text text-muted">We will never share your email with anyone else</small>
                    </md-input-container>
                    <md-input-container>
                        <label for="password">Password</label>
                        <input type="password" name="password" ng-model="vm.user.password" class="form-control" id="password" placeholder="Enter Password" required/>
                        <span ng-show="form.password.$dirty && form.password.$error.required" >Password is required</span>
                    </md-input-container>
                    <md-input-container>
                        <label for="mobileNum">Mobile Number</label>
                        <input type="text" name="mobileNum" ng-model="vm.user.mobileNum" class="form-control" id="mobileNum" placeholder="Enter Mobile Number" required/>
                        <span ng-show="form.mobileNum.$dirty && form.mobileNum.$error.required" >Mobile Number is required</span>
                    </md-input-container>
                    <md-radio-group ng-model = "vm.user.gender">
                        <label>Gender</label>
                        <md-radio-button  ng-true-value = "Male" ng-false-value = "null" value="Male" class="md-primary">Male</md-radio-button>
                        <md-radio-button  ng-true-value = "Female" ng-false-value = "null" value="Female"> Female </md-radio-button>
                        <md-radio-button  ng-true-value = "Trans" ng-false-value = "null" value="Trans">Trans</md-radio-button>
                    </md-radio-group>
                    {{vm.user.gender}}
                </div>
                <div layout="row" layout-align="center">
                    <md-button type="submit" class="md-primary md-raised">
                        Register
                    </md-button>
                    <md-button href="#/" class="md-primary md-raised">
                        Cancel
                    </md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
