<div layout="column" layout-fill>
    <md-toolbar>
        <div ng-if="!vm.isLoggedIn"class="md-toolbar-tools">
            <a  href = "#/" md-truncate flex class="logo">
                <svg width="87" height="30" viewBox="0 0 87 30" xmlns="http://www.w3.org/2000/svg"><path d="M58.7.2H48l-4.7 9-4.6-9H28l10 20v9.3h10.6V20L58.6.3zm13-.2c-8.4 0-15 6.7-15 15s6.6 15 15 15c8.2 0 15-6.7 15-15s-6.8-15-15-15zm0 20.3c-3 0-5.5-2.4-5.5-5.3 0-3 2.4-5.3 5.4-5.3 3 0 5.3 2.3 5.3 5.3s-2.5 5.3-5.4 5.3zM15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm0 20.3c-3 0-5.3-2.4-5.3-5.3 0-3 2.4-5.3 5.3-5.3 3 0 5.3 2.3 5.3 5.3S18 20.3 15 20.3z"></path></svg>
            </a>
            <md-button class="md-raised" href="#/login">
                Login
            </md-button>
            <md-button class="md-raised" href="#/register">
                Register
            </md-button>
        </div>
        <div ng-if="vm.isLoggedIn"class="md-toolbar-tools">
            <a  href = "#/" md-truncate flex class="logo">
                <svg width="87" height="30" viewBox="0 0 87 30" xmlns="http://www.w3.org/2000/svg"><path d="M58.7.2H48l-4.7 9-4.6-9H28l10 20v9.3h10.6V20L58.6.3zm13-.2c-8.4 0-15 6.7-15 15s6.6 15 15 15c8.2 0 15-6.7 15-15s-6.8-15-15-15zm0 20.3c-3 0-5.5-2.4-5.5-5.3 0-3 2.4-5.3 5.4-5.3 3 0 5.3 2.3 5.3 5.3s-2.5 5.3-5.4 5.3zM15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm0 20.3c-3 0-5.3-2.4-5.3-5.3 0-3 2.4-5.3 5.3-5.3 3 0 5.3 2.3 5.3 5.3S18 20.3 15 20.3z"></path></svg>
            </a>
            <md-icon ng-if="vm.user.gender === 'male'" md-svg-src="static/images/man.svg" ></md-icon>
            <md-icon ng-if="vm.user.gender !== 'male'" md-svg-src="static/images/girl.svg" ></md-icon>
            <a ng-href="#/user/{{vm.user.userId}}" class="mr-sm-2">{{vm.user.firstname + ' ' + vm.user.lastname}}</a>
            <md-button class="md-raised" href="#/" ng-click="vm.logout()">
                Logout
            </md-button>
        </div>
    </md-toolbar>
</div>

<md-content class="md-padding" layout="row" layout-align="center" layout-wrap>
    <md-card flex="50" >
        <md-card-header>
            <md-card-header-text>

                <span class="md-title">Hotel Room Details</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Rooms</th>
                  <th scope="col">Guests</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="elem in vm.jsonInfo">
                      <th scope="row">
                          {{elem.roomType.type}}
                      </th>
                      <td><input ng-model="vm.bookingInfo[$index].rooms" type="number" min="0" max="{{elem.availableRooms}}" name="rooms" placeholder="Enter rooms needed"/> </td>
                      <td><input ng-model="vm.bookingInfo[$index].guests" type="number" min="0" max="{{elem.availableRooms * elem.roomType.count + elem.roomType.maxExtraGuests}}" name="guests" placeholder="Enter extra guests"/></td>
                      <td>
                          {{vm.getCost($index)}}
                      </td>
                  </tr>
              </tbody>
            </table>
            <h2 style="text-align: center;">Total cost : {{vm.getTotalCost()}}</h2>
        </md-card-content>
    </md-card>
</md-content>



<div layout="row" layout-align="center">
    <md-button ng-href="#/hotel/book/{{vm.jsonInfo[0].hotel.hotel_id}}" ng-click="vm.passBookingInfo()" class="md-primary md-raised">
        Book
    </md-button>
</div>
